NVIDIA_API_KEY=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
TAVILY_API_KEY=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
CORS_ORIGINS=http://localhost:3000,http://localhost:8000
